<h2>Create New List</h2>

<form action="/lists" method="post">
  <!-- <select name="day">
    <option value="Monday">Monday</option>
    <option value="Tuesday">Tuesday</option>
    <option value="Wednesday">Wednesday</option>
    <option value="Thursday">Thursday</option>
    <option value="Friday">Friday</option>
    <option value="Saturday">Saturday</option>
    <option value="Sunday">Sunday</option>
  </select> -->
  <label>List Name: </label>
  <input type="text" name="name">
  <input type="submit" name="submit" value="Create List">
</form>
