<div class="lists-container">
  <div class="list-type1">
    <ol>
      <h1><%= current_user.username %>'s Lists</h1>

      <% @lists.each do |list| %>
        <li><a href="/lists/<%= list.id%>"><%= list.name %></a></li>
      <% end %>
      <br>
    </ol>
  </div>

  <form action="/lists" method="post">
    <input type="text" name="name">
    <input class="button" type="submit" name="submit" value="Add List">
  </form>
</div>
