body {
  font-family: 'Raleway', sans-serif;
}

header {
  border-bottom: 1px solid;
  background:#93C775;
}

header h1 {
  margin: 0 auto;
  display: inline;
  color: #FFF;
  font-size: 50px;
  padding-left: 10px;
}

.logo {
  background: #93C775;
}

header nav {
  color: #FFF;
  float: right;
  margin: 1.5%;
}

.flash-box {
  margin: 40px;
  text-align: center;
}
