<h2>Edit Task</h2>

<form action="/todos/<%= @todo.id %>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <select name="day" value="<%= @todo.day %>">
    <option value="Monday">Monday</option>
    <option value="Tuesday">Tuesday</option>
    <option value="Wednesday">Wednesday</option>
    <option value="Thursday">Thursday</option>
    <option value="Friday">Friday</option>
    <option value="Saturday">Saturday</option>
    <option value="Sunday">Sunday</option>
  </select>

  <input type="text" name="description" value ="<%= @todo.description %>">
  <input type="submit" name="submit" value="Edit Task">
</form>
