<div class="signup-container">
  <h2>Create Account</h2>

  <div class="signup-form">
    <form action="/signup" method="post">

      <label>Username: </label>
      <input type="text" name="username"><br></br>

      <label>Password: </label>
      <input type="password" name="password"><br></br>

      <label>Confirm Password: </label>
      <input type="password" name="pass_confirm"><br></br>

      <input id="button" type="submit" value="Sign Up">
    </form>
  </div>

  <br>
</div>
