<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">
      <h1>Weekly To-Do List</h1>
      <nav>
        <% if logged_in? %>
          <button type="submit" name="submit"><a href="/logout">Log Out</a></button>
        <% end %>
      </nav>
    </div>

    <%= yield %>

  </body>
</html>
